body::before, body:after {
    content: '';
    position: fixed;
    background: white;
    left:0;
    right: 0;
    height: 10px;
}
body::before{
    top: o;
}
body::after {
    bottom: 0;
}

body{
    height: 2000px;
    width: 1000px;
    border-left: 10px solid white;
    border-right: 10px solid white;
    font-family: 'Gemunu Libre', sans-serif;
    padding-left: 30px;
    background-color:rgb(240, 242, 245);
    color:darkseagreen;
    
} 

.main{
    padding-top: 50px;
     
   

}
h1{
   font-size: 38px; 

}
h1, h2 {

    color:darkseagreen;
    font-family: 'Gemunu Libre', sans-serif;

}

.navbar{
    position:fixed;
}

.social-media{
    /*padding-top: 8px;*/
    
    position: fixed;
    
    font-size: 20px;
}

.social-links{
    float: right;
    top: 0; 
    padding-right:40px;
    
}

nav ul{
    margin: o;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
}

nav a{
    color: darkseagreen;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    
    transform: scale(1.1);
    color: white;
}

p{
    font-stretch: extra-expanded;
    font-size: 18px;
}

.main{
   min-width: 250px;
}