body::before, body:after {
    content: '';
    position: fixed;
    background: white;
    left:0;
    right: 0;
    height: 10px;
}
body::before{
    top: o;
}
body::after {
    bottom: 0;
}

body{
    height: 2000px;
    width: 1000px;
    border-left: 10px solid white;
    border-right: 10px solid white;
    font-family: 'Bitter', serif;
    padding-left: 30px;
    background-color:#f4f9fc;
    color:#0f1b61;    
} 

.main{
    padding-top: 50px;   
}

h1{
   font-size: 38px; 
}
h1, h2 {
    color:0f1b61;
    font-family: 'Gemunu Libre', sans-serif;
}

.social-links{
  float: right; 
   padding-right:40px;
   padding-top: 18px;
}

.pages{
    float: left;
}

.navbar{
    position: fixed;
    
    width: 80%;
}

.title-projects{
    padding-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

nav ul{
    margin: o;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
}

nav a{
    color: #0f1b61;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    
    transform: scale(1.1);
    color: white;
}

p{
    
    font-size: 15px;
    text-align: justify;
}

.main{
   min-width: 250px;
}
table{
    margin-top: 20px;
}
table, th, td{
    border:2px solid #0f1b61;
    border-collapse: collapse;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
th, td{
    padding: 15px;
}
a{
    color: #0f1b61;
}
a:hover{
    color: white;
}
.text-link{
    color: red;
}